%h3 Create New Media Item
= form_for @media_item, :html => { :multipart => true } do |f|
  = f.label :title
  = f.text_field :title
  %br
  = f.label :source
  = f.text_field :source
  %br/
  = f.label :description
  = f.text_area :description
  %br
  = f.label :image
  = f.file_field :image
  %br
  = f.submit "Create"
