!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Media Manager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .header
        %p.notice= notice
        %p.alert= alert
        %ul.header-ul
          - if user_signed_in?
            %li
              = link_to "Home", root_path
            %li
              = link_to "Shared Media", shared_media_media_items_path
            %li
              = link_to('Logout', destroy_user_session_path, :method => :delete)
            %li
              %span= welcome_message
          - else
            %li
              = link_to('Login', new_user_session_path)
        = form_tag search_media_path, id: "search" do
          = label_tag :keyword, "Search"
          = text_field_tag :keyword
          = submit_tag "Search"
      .content
        = yield
      .footer
        %span "Media Manager"  
